<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/get-form-data" method="post">
        <input 
            type="text" 
            placeholder="Enter username"
            name="username"
        >
        <input 
            type="text" 
            placeholder="Enter email"
            name="email"
        >
        <input 
            type="password" 
            placeholder="Enter password"
            name="password"
        >

        <button>Submit Form</button>
    </form>
    <script src="index.js"></script>
</body>
</html>